extends layouts/default.pug

block head
  - const namePage = 'index';
  - const pageTitle = 'Main Page';

block content
  div.progress-bar__container
    div.progress-bar
      div.progress-bar__wrap
    div.progress-bar__number 100
